* {
    margin: 0;
    padding: 0;
}

label {
    font-weight: 400;
    color: block;
}

.container-head {
    background-color: #12192C;
    color: #ffffff;
    padding: 5px;
    width: 100%;
}

.container-body {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px rgb(12, 12, 29);
    padding: 20px;
    font-size: 22px rgb(12, 12, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.container-body .btn {
    padding: 10px 40px;
    color: #000;
    font-size: 22px rgb(12, 12, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F5A623;
    border: #F5A623;
}